* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(177, 177, 177);
}
.card {
  display: inline;
  background-color: #fff;
  width: 275px;
  min-height: 350px;
  box-shadow: 0px 5px 15px 1px rgb(117, 117, 117);
  /* margin-bottom: 35px;
  margin-top: 70px;
  margin-left: 15px; */
  margin: 20px;
  border-radius: 15px;
  float: left;
}
.userName {
  padding: 10px;
  font-size: 28px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: rgb(206, 206, 206);
  background-color: rgb(36, 36, 36);
}
.userDesc {
  padding: 10px;
  margin-top: 15px;
  text-align: justify;
}
.userBtn {
  display: block;
  margin-left: 10px;
  width: 150px;
  height: 30px;
  background-color: rgb(36, 36, 36);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* display: block - wyswietla jedno pod drugim */
/* display: inline - jeden obok drugiego + nie działa width i height */
/* display: inline-block - jeden obok drugiego i działa width,height */
/* display:none - nic nie wyświetla */
