/* .pageTitle {
  color: deeppink;
}
p {
  color: blueviolet;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: lowercase;
}

.minorTitle {
  color: chartreuse;
  font-size: 22;
  font-weight: 100;
  text-transform: capitalize;
} */

body {
  background-color: pink;
}
.card {
  display: inline-block;
  background-color: rgb(175, 221, 9);
  width: 275px;
  height: 300px;
  box-shadow: 2px 5px 40px 1px rgb(124, 120, 120);
  /* margin-bottom: 25px; */
  margin: 15px;
  padding: 10px;
}
.userName {
  color: white;
  font-size: 28px;
  background-color: blue;
  margin: 0px;
  padding: 5px;
}
